body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#stage {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid grey;
}
canvas {
  position: absolute;
}
button {
  margin-bottom: 5px;
}
